.reportTable {
    margin-top: 30px;
    border: 1px solid rgb(44, 99, 150);
    text-align: center;
}

.reportTable thead th {
    text-align: center;
    font-size: 1.2em;
    padding: 5px;
    background: rgb(44, 99, 150);
    color: white;
}

.wrapper h2 {
    font-weight: bold;
    text-align: center;
}
