<div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">{{ 'time-sheet' | translate}}</div>
      <div class="panel-body">
        <div>
            <input type="checkbox" name="hoursOption" id="hoursOption"><ts-label [labelstyles]="optionsClass" [labelname]="options[0]"></ts-label>
        </div>
        <div>
            <input type="checkbox" name="hoursOption" id="hoursOption"><ts-label [labelstyles]="optionsClass" [labelname]="options[1]"></ts-label>
        </div>
        <div>
            <input type="checkbox" name="hoursOption" id="hoursOption"><ts-label [labelstyles]="optionsClass" [labelname]="options[2]"></ts-label>
        </div>
      </div>
    </div>
  </div>