
.header {
    background: rgba(243, 234, 234, 0.8);
    border-radius: 5px;
    padding: 5px 10px;
    height:50px;
}

h3 {
    color: rgb(4, 6, 7);
    font-weight: bold;
    text-align: center;
    margin-top:10px;
}
.wrapper {
    background: #ffffff;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    position: absolute;
}
.row{
    margin:auto;
    margin-top:50px;
}
.row.body{
    width: 30%; 
    height: 60%;
}

.container .header p {
    color: #739600;
    font-size: 24px;
    line-height: 0.9em;
}

#emailLabel {
    text-align: right;
}

.loginForm {
    background: #F5EEEE;
    opacity: 0.93;
    border-radius: 5px; 
}

.loginForm form {
    padding: 15px;
}

.loginForm h4 {
    background: rgb(4, 6, 7);
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.idTypeBtn {
    width: 100%;
    text-align: left;
}

.loginForm ul {
    width: 90%;
    margin-left: 15px; 
}

.caret {
    margin: 10px;
}

.forgotPassword {
    color: #E37222;
    display: block;
    text-align: center;
    font-size: 18px;
}

.validationMessage {
    padding-top: 10px;
    color: red;
}

.submitBtn{
    text-align: center;
}
/* .submitBtn {
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    margin: 20px; 
} */

button:disabled {
    cursor: not-allowed;
}