<div class="container">
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">{{ 'time-sheet' | translate}}</legend>
        <div>
            <input type="checkbox" name="hoursOption" id="hoursOption"><ts-label [labelstyles]="optionsClass" [labelname]="options[0]"></ts-label>
        </div>
        <div>
            <input type="checkbox" name="hoursOption" id="hoursOption"><ts-label [labelstyles]="optionsClass" [labelname]="options[1]"></ts-label>
        </div>
        <div>
            <input type="checkbox" name="hoursOption" id="hoursOption"><ts-label [labelstyles]="optionsClass" [labelname]="options[2]"></ts-label>
        </div>
    </fieldset>
  </div>