/* You can add global styles to this file, and also import other style files */
@import "~@progress/kendo-theme-default/scss/all"; 
.ag-header-cell-label {
    text-align: center !important;
}

.ag-header-cell-sortable {
    background: #337AB7;
    color: white;
}
